[Unit]
Description=Central heating system of the colony

[Service]
ExecStart=/usr/bin/python /opt/python-calefaccio/calefacciod.py /opt/python-calefaccio/calefacciod.config
PIDFile=/var/run/calefacciod.pid
Restart=always
User=root
Group=root
PermissionsStartOnly=false
PrivateTmp=no
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
